:root {
	--white-color: #fff;
	--background: #f1f1f1;
	--purple: #863176;
	--purple-background: #82008F;
	--purple-hover: #712964;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--white-color);
}

.login {
	height: auto;
	margin-bottom: 20px;
}

.login__box {
	width: 100%;
	display: inline-block;
}

.login__box--logo {
	background: var(--purple-background);
	border: 1px solid var(--purple);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 60px;
}

.login__box--logo img {
	width: 200px;
}

.login__box--form {
	background: var(--white-color);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login__form__image {
	margin: 0 auto 30px;
	display: block;
}

.login__form__input {
	width: 100%;
	margin-bottom: 16px;
	padding: 15px;
}

.login__form__inputs {
	display: inline-block;
	width: 100%;
}

.login__form__input-submit {
	background-color: var(--purple);
	border: 1px solid var(--purple-background);
	color: var(--white-color);
	cursor: pointer;
	padding: 15px 30px;
	transition: background .4s;
	width: 100%;
	margin-bottom: 20px;
}

.login__form__input-submit:hover {
	background-color: var(--purple-hover);
}

.login__form__input-password {
	color: black;
	align-self: flex-end;
}

.footer {
	padding: 14px 0;
}

.footer__paragraph {
	text-align: center;
}

@media only screen and (min-width: 768px) {
	body {
		background: var(--background);
	}

	.login {
		display: flex;
		justify-content: center;
		align-items: center;
		height: calc(100vh - 60px);
		margin-bottom: 30px;
	}
	
	.login__wrapper {
		width: 967px;
		display: flex;
	}
	
	.login__box {
		width: calc(50% - 5px);
		height: 424px;
	}
	
	.login__box--logo {
		padding: 0;
	}

	.login__box--logo img {
		width: auto;
	}
	
	.login__box--form {
		border: 1px solid var(--purple);
		padding: 20px 30px;
	}

	
	.login__form__input {
		padding: 10px;
	}
	
	.login__form__inputs {
		display: flex;
		justify-content: space-between;
	}
	
	.login__form__input-submit {
		width: auto;
		margin: 0;
	}
}